#controlPanel,
#image {
    /*puts the control panel and image side by side*/
    display: inline-block;

    /*makes the control panel and image aligned at the top*/
    vertical-align: top;
}

#controlPanel {
    /*puts empty space to the right of the control panel to separate it from the image*/
    margin-right: 30px;
}